$primary: #f51e5b;

@import "~bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.nav-link{
    position: relative;
    color: #ffffff;
}

.nav-link:hover{
    color: #ffffff;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    color: #f51e5b;
    background-color: #f51e5b;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    color: #f51e5b;
    opacity: 1;
    
}

.nav-link a.active{
    color: #ffffff;
}

.bg-body-black{
    background-color: #000000;
}

.navbar-custom {
  background-color: #343a40;
}

.home{
    height: 450px;
    width: 100%;
    opacity: 1;
    background: url("/assets/image/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    align-items: center;
    padding: 0 10%;
}

.home_content{
    mix-blend-mode: luminosity;
    background-color: #000000;
    border-radius: 10px;
    a{
        border-radius: 10px;
        padding: 5px 2px 5px 2px;
        color: #c5bebe;
        background-color: transparent;
        border-color: 3px #ffffff;
    }
    h1{
        color: #ffffff;
        text-shadow: #343a40;
    }
    h3{
        color: #ffffff;
        text-shadow: #343a40;
    }
    p{
        color: #ffffff;
        text-shadow: #343a40;
    }
}

.home-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.gradient-custom{
    background: #f51e5b;

    background: -webkit-linear-gradient(to right,rgb(27, 26, 26), rgb(209, 27, 103));

    background: linear-gradient(to right,rgb(27, 26, 26), rgb(209, 27, 103))
}

.hero-banner {
    height: 100%;
    width: 500px;

    @media screen {
        & {
            width: 200px;
        }
    }

    .title {
        color: white;
    }

    &:hover {
        background: blue;
    }
}
